[user]
	name = Borodin Gregory
	email = grihabor@gmail.com

[alias]
	br = branch
	ci = commit
	st = status
	sw = switch
	rt = restore

[includeIf "gitdir:~/pulsepoint/"]
	path = ~/pulsepoint/.gitconfig

[init]
	defaultBranch = main
